<h2>Log In</h2>
<p id="alert"><%= alert %></p>

<%= form_tag sessions_path do %>
  <%= label_tag :username %>
  <%= text_field_tag :username %>
  <br><br>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <br><br>
  <button type="button" class="btn btn-secondary" id="createedit">
    <%= submit_tag "Log In", class: "button" %>
  </button>
<% end %>