<h2>Sign Up</h2><br>
<% if @errors %>
  <% @errors.each do |error| %>
    <%= error %><br>
  <% end %>
<% end %>

<%= form_for :user, url: '/users' do |f| %>
  Name: <%= f.text_field :name %><br><br>
  Username: <%= f.text_field :username %><br><br>
  Password: <%= f.password_field :password %><br><br>
  Password Confirmation: <%= f.password_field :password_confirmation %><br><br>
  <button type="button" class="btn btn-secondary" id="createedit">
    <%= f.submit "Submit", class: "button" %>
  </button>
<% end %>