
<div class="container my-5">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="card col-md-3 style="width: 18rem;" style ='background-color: #FA9C6D;'>
      <%= form_for :user, url: '/users' do |f| %>   
        <h3 class="card-title my-4 mx-3 text-center .text-white font-bold">Sign Up</h3>
        <% if @errors %>
          <% @errors.each do |error| %>
          <%= error %><br>
          <% end %>
        <% end %>
          <div class="form-group">
          <div class="col-md-12 mb-3">
            Name: <%= f.text_field :name %>
          </div>
           <div class="col-md-12 mb-3">
            Username: <%= f.text_field :username %>
          </div>
          <div class="col-md-12 mb-3">
            Password: <%= f.password_field :password %>
          </div>
          <div class="col-md-12 mb-3">
          Confirm Password: <%= f.password_field :password_confirmation %>
          </div><br>
          <div class="text-center">
            <%= f.submit "Submit", class: "btn btn-dark" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>

