<h1>All Songs</h1>

<%= form_tag songs_path, method: :get do %>
  <%= text_field_tag :search, params[:search], list: "title" %>
  <datalist id="title">
    <% Song.all.each do |song| %>
      <option value="<%= song.title %>"></option>
    <% end %>
    <% Artist.all.each do |artist| %>
      <option value="<%= artist.name %>"></option>
    <% end %>
    <% Genre.all.each do |genre| %>
      <option value="<%= genre.name %>"></option>
    <% end %>
  </datalist>
  <%= submit_tag "Search" %>
<% end %>

<% @songs.each do |song| %>
  <h3><%= song.title %></h3>
  <ul>
  <li>Artist: <%= song.artist.name %></li>
  <li>Genre: <%= song.genre.name %></li>
  <li>Length: <%= song.duration %></li>
  </ul>
  <%= select_tag "playlists", options_for_select(Playlist.all.select { |p| p.user_id == session[:user_id] }.map { |p| p.name }), prompt: "Select a Playlist" %>
  <%= submit_tag "Add to Playlist" %>
<% end %>

<%# add a drop down menu of playlists to each song that adds the song to one of your playlists and add a controller action to take the song id and playlist id and update the playlist 
  - submit tag call update action
  - add a controller action that adds the song to the playlist, in the SongPlaylist controller
  - controller action will redirect you to the playlist page with the song added
%>