<%= form_for @playlist  do |f| %>
  <%= f.hidden_field :user_id, value: "#{login.id}" %>
  <h5><%= f.label :name, "Playlist Name:" %></h5>

  <%= f.text_field :name %>
  <button type="button" class="btn btn-secondary" id="createedit">
    <%= ((f.submit "Update Name", class: "button") if @playlist.id ) %>
    <%= ((f.submit "Create Playlist", class: "button") if !@playlist.id ) %>
  </button>
<% end %><br>

  <% @playlist.song_playlists.each do |song_playlist| %>
    <button type="button" class="btn btn-secondary" id="form">
      <%= button_to 'Remove', song_playlist, method: :delete, params: {song_id: song_playlist.song.id, playlist_id: @playlist.id}, class: "buttonto" %>
    </button>
    <%= song_playlist.song.title %>
    <%= song_playlist.song.length_to_minutes_and_seconds %> 
    <br><br>
<% end %>



