<h1>Your Jamms!</h1>
<br>
<h2><%= @playlist.name %></h2>
<p>This playlist is <%= @playlist.playlist_length%> long.</p>

<button type="button" class="btn btn-secondary">
    <%= mail_to '', "Share this Playlist", subject: "Checkout this Playlist!", body: "Listen here: http://localhost:3000/playlists/#{ @playlist.id }" %>
</button>

<br><br>
<h3>Songs</h3>
<ol>
    <% @playlist.songs.each do |song| %>
    <li>
        <%= song.title %> | <%= song.length_to_minutes_and_seconds %><br>
        <iframe src="https://open.spotify.com/embed/track/<%= song.embed_key %>" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> 
    </li>
    <% end %>
</ol>

<br>
<div class="bottom_buttons">
    <% if @playlist.user_id == session[:user_id] %>
    <button type="button" class="btn btn-secondary"><%= link_to "Edit Playlist", edit_playlist_path, id:"" %></button>  
    <button type="button" class="btn btn-secondary"><%= link_to "Delete Playlist", @playlist, data: {:confirm => 'Are you sure?'}, :method => :delete %></button>
    <% end %>
</div>